.requirements {
  padding-bottom: 80px;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -140px;
    right: -420px;
    width: 841px;
    height: 841px;
    border-radius: 50%;
    background: radial-gradient(
        50% 50% at 50% 50%,
        #295db5 0%,
        rgba(41, 93, 181, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    opacity: 0.2;
  }
  &__list {
    margin-top: 88px;
  }
  &__item {
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 105px;
    .icon {
      width: 105px;
      height: 105px;
      border-radius: 50%;
      background-color: $primaryColor;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 42px;
    }
    & .title {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      text-align: center;
      color: #333232;
      margin-bottom: 20px;
    }
    & .desc {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      /* or 130% */

      text-align: center;

      color: #8f97a3;
    }
  }
}
